/*************************** 
TAG 
***************************/

body{
    color: #727272;
}
img{
    max-width: 100%;
}
header{
    position:fixed;
    top:0;
    width: 100%;
    z-index: 999;
}
main{
    margin-top: 106px;
}
footer a{
    color: #fff !important;
}
footer a:hover,
footer a:focus{
    color: #fff !important;
}

/* Typography */
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2.3rem;
}
h4{
    font-size: 1.3rem;
}
h5{
    font-size: 0.9rem;
}
small{
    font-size: 0.9rem;
}
footer{
    font-size: 0.9rem;
}

/*************************** 
Classes
***************************/

/* Buttons */
.btn{
    border: 0px solid transparent;
    padding: 5px 15px 10px 15px;
    background-color: transparent;
}
.btn-check:active + .btn-primary:focus, .btn-check:checked + .btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 transparent;
}
.btn-primary{
    background-color: #cd3d0f;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #cd3d0f;
    box-shadow: 0 0 0 .25rem rgba(205, 61, 15, .5)
}
.btn-secondary{
    background-color: #2d64e6;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active{
    background-color: #2d64e6;
    box-shadow: 0 0 0 .25rem rgba(45, 100, 230, .5)
}
.btn-dark{
    background-color: #363636;
}
.btn-grey{
    background-color: #d9dadc;
}
.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active{
    background-color: #d9dadc;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .5)
}
.btn-light{
    background-color: #f5f5f5;
}

/* Backgrounds */
.bg-primary{
    background-color: #00439c;
}
.bg-secondary{
    background-color: #161c3b !important;
}
.bg-grey{
    background-color: #bebcbb;
}
.bg-light-dark{
    background-color: #1f1f1f;
}
.bg-dark{
    background-color: #000;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    background-color: #000;
    box-shadow: 0 0 0 .25rem rgba(0, 0, 0, .5)
}
.bg-white{
    background-color: #fff;
}


/* Colors */
.color-primary{
    color: #2d64e6;
}
.color-secondary{
    color: #0072ce;
}
.color-dark{
    color: #1f1f1f;
}
.color-grey{
    background-color: #727272;
}

/* Menu */
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 15px;
    padding-right: 15px;
}

/* Section */
.section__base{
    padding: 30px 0;
}
.section__medium{
    padding: 80px 0;
}
.section__large{
    padding: 150px 0;
}

/* Main Hero */
.bkg--hero{
    background-image: url(../img/jumbo-bg.png);
    background-position: top;
    background-size: cover;
}

/* Thumb */
.card {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 3px;
}
.card--active{
    border: 2px solid #0072ce;
}
.card-img, .card-img-top {
    border-radius: 15px;
}
.row__thumb .card{
    transform: translateX(0);
    transition: transform .3s ease-in-out;
}
.row__thumb .card:hover{
    transform: translateY(-10px);
}

/* Thumb Product PlayStation 5 */
.row__products img{
    width: 100px;
    opacity: .5;
}
.row__products .col:nth-child(1) img{
    opacity: 1;
}
.row__products .col:nth-child(1) {
    border-bottom: 2px solid #0072ce;
}

/* Section It takes two */
.bkg--takesTwo{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: top;
    background-size: cover;
}

/* New Releases */
.border__radius{
    border-radius: 20px;
}

/* Playstation Plus */
.logo__playplus{
    width: 400px;
}

/* Utilities */
.section--Hero{
    padding-top: 250px;
}
.section__image{
    width: 250px;
}
.section__super{
    margin-bottom: 5px;
}
.section__image,
.section__title{
    margin-bottom: 30px;
}
.section__title{
    font-size: 2.5rem;
}
.section__subtitle{
    font-size: 21px;
    margin-bottom: 30px;
}
.section__text{
    margin-bottom: 30px;
}
/* Media Query
X-Small             <576px
Small               ≥576px
Medium              ≥768px
Large               ≥992px
Extra larg          ≥1200px
Extra extra large   ≥1400px
*/

@media only screen and (max-width: 767px) {
    .row__playplus{
        padding: 50px 0;
    }   
}
