/*************************** 
TAG 
***************************/
img{
    max-width: 100%;
}

/* Typography */
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2.3rem;
}
h4{
    font-size: 1.3rem;
}
h5{
    font-size: 0.9rem;
}
small{
    font-size: 0.9rem;
}
footer{
    font-size: 0.9rem;
}

/*************************** 
Classes
***************************/

/* Buttons */
.btn{
    border: 0px solid transparent;
    padding: 5px 15px 10px 15px;
}
.btn-check:active + .btn-primary:focus, .btn-check:checked + .btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 transparent;
}
.btn-primary{
    background-color: #cd3d0f;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #cd3d0f;
    box-shadow: 0 0 0 0 transparent;
}
.btn-secondary{
    background-color: #2d64e6;
}
.btn-dark{
    background-color: #363636;
}
.btn-grey{
    background-color: #d9dadc;
}
.btn-light{
    background-color: #f5f5f5;
}

/* Menu */
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 15px;
    padding-right: 15px;
}

/* Section */
.section__base{
    padding: 50px 0;
}
.section__medium{
    padding: 100px 0;
}
.section__large{
    padding: 200px 0;
}

/* Main Hero */
.bkg--hero{
    background-image: url(../img/jumbo-bg.png);
    background-position: top;
    background-size: cover;
}

/* Thumb */
.card {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 3px;
}
.card--active{
    border: 2px solid #0072ce;
}
.card-img, .card-img-top {
    border-radius: 15px;
}

/* Utilities */
.section--Hero{
    padding-top: 250px;
}
.section__image{
    width: 250px;
}
.section__image,
.section__title{
    margin-bottom: 30px;
}
.section__title{
    font-size: 2.5rem;
}
.section__text{
    margin-bottom: 30px;
}